@mixin post-copyright {
  .post-copyright {
    margin: map-get($post-copyright, margin);
    border-left-color: map-get($post-copyright, border-left-color);
    background-color: map-get($post-copyright, bg);
  }
}
  