// no-found-menu
// use in 404 not found page
// --------------------------------------------------
.no-found-menu {
    padding-left: 0;  
 }
  
.no-found-menu .menu-item {
    display: inline-block;
    margin: 0 10px;
    list-style: none;

    @media screen and (max-width: 767px) {
        margin-top: 10px;
    }

    a {
        display: block;
        font-size: 13px;
        line-height: inherit;
        border-bottom: 1px solid $menu-link-border;
        transition-property: border-color;
        @include the-transition();

        &:hover { color:$grey-light}
    }

    .fa { margin-right: 5px; }
}
  
// post-tages
// --------------------------------------------------
.posts-expand .post-tags {  
    a {
      display: inline-block;
      margin-right: 10px;
      margin-top:100px;
      font-size: 13px;
      border-radius:12px;
      cursor:pointer;
      padding:0px 16px;
    }
  }

// note
// ref: https://github.com/kanboo/kanboo.github.io/blob/4292e79031c3f8005add53df25e519f9fd4355cf/themes/next/source/css/_common/components/tags/note.styl
// --------------------------------------------------
.post-body .alert {
  position:             relative;
  padding:              15px;
  margin-bottom:        20px;

  // commit setting
  border:             initial;
  border-left:        4px solid; 
  border-radius: 4px;
  
  // default seeting
  background-color:   $alert-default-bg;
  border-left-color:  $alert-default-border;
  color:  $alert-default-text;

  a {
    color: $alert-default-text;
    border-bottom-color: $alert-default-text;
    &:hover {
      color: $alert-default-hover; 
      border-bottom-color: $alert-default-hover;
    } 
  }

  h2, h3, h4, h5, h6 {
      if note_icons {
        margin-top:       3px;
      } else {
        margin-top:       0;
      }
      margin-bottom:      0;
      border-bottom:      initial;
      padding-top:        0 !important;
    }
  
  p, ul, ol, table, pre, blockquote {
      &:first-child {
          margin-top:       0;
      }
      &:last-child {
          margin-bottom:    0;
      }
  }

  .head {
    font-weight:bold;
  }

  &:not(.no-icon) {
      padding-left:     45px;
      &:before {
        // common setting
        position:       absolute;
        font-family:    'FontAwesome';
        font-size:      larger;
        top:            13px;
        left:           15px;

        // default setting
        content: $alert-default-icon;
        color : $alert-default-text;
      }
    }

  &.primary  {
      background-color: $alert-primary-bg;
      border-left-color:  $alert-primary-border;
      color:  $alert-primary-text;

      a {
        color: $alert-primary-text;   
        border-bottom-color: $alert-primary-text; 
        &:hover {
          color: $alert-primary-hover   ; 
          border-bottom-color: $alert-primary-hover ;
        } 
      }

      &:not(.no-icon) {
          &:before {
              content: $alert-primary-icon;
              color : $alert-primary-text;
          }
      }
  }

  &.info  {
    background-color: $alert-info-bg;
    border-left-color:  $alert-info-border;
    color: $alert-info-text;

    a {
      color: $alert-info-text;    
      border-bottom-color: $alert-info-text; 
      &:hover {
        color: $alert-info-hover   ; 
        border-bottom-color: $alert-info-hover ;
      } 
    }

    &:not(.no-icon) {
        &:before {
            content: $alert-info-icon;
            color : $alert-info-text;
        }
    }
  }

  &.success {
    background-color: $alert-success-bg;
    border-left-color:  $alert-success-border;
    color: $alert-success-text;

    a {
      color: $alert-success-text; 
      border-bottom-color: $alert-success-text;    
      &:hover {
        color: $alert-success-hover   ; 
        border-bottom-color: $alert-success-hover ;
      } 
    }

    &:not(.no-icon) {
        &:before {
            content: $alert-success-icon;
            color : $alert-success-text;
        }
    }
  }

  &.warning {
    background-color: $alert-warning-bg;
    border-left-color:  $alert-warning-border;
    color: $alert-warning-text;

    a {
      color: $alert-warning-text;  
      border-bottom-color: $alert-warning-text;    
      &:hover {
        color: $alert-warning-hover   ; 
        border-bottom-color: $alert-warning-hover ;
      } 
    }

    &:not(.no-icon) {
        &:before {
            content: $alert-warning-icon;
            color : $alert-warning-text;
        }
    }
  }

  &.danger {
    background-color: $alert-danger-bg;
    border-left-color:  $alert-danger-border;
    color: $alert-danger-text;

    a {
      color: $alert-danger-text;   
      border-bottom-color: $alert-danger-text;     
      &:hover {
        color: $alert-danger-hover   ; 
        border-bottom-color: $alert-danger-hover ;
      } 
    }

    &:not(.no-icon) {
        &:before {
            content: $alert-danger-icon;
            color : $alert-danger-text;
        }
    }
  }
}

// highlighting
// --------------------------------------------------
.post-body .highlighting {
  padding: 0 2px;
  white-space: pre-line;
  border-radius: 2px;
  background-color: $highlighting-default;

  &.success {
    background-color: $highlighting-success;
  }

  &.warning {
    background-color:$highlighting-warning ;
  }
   
  &.danger {
    background-color: $highlighting-danger;
  }
}

// --------------------------------------------------
.post-body .imgtext{
  color: $image-text;   
}

.post-body .timestamp{
  line-height:15px ;
}


// Custom styles.
// Settings for some of the most global styles.
// --------------------------------------------------

h1 {
  color: $h1-color;
} 

h2 {
  color: $h2-color;
}


.posts-expand .post-tags {  
  a {
    background: $greendark-lighter;
    &:hover {
      color: white;
      background: $green-lighter;
    }
  }
}

.posts-expand .post-meta {
  color: $greendark-ligh ;
}

.post-nav {
  border-top: 1px solid $greendark-ligh;
}

.header ,
.footer {
  color: $greendark-dark;
  background: $greendark-lighter;
}

.site-meta {
  .brand {
    color: $greendark-dark;
  }
  .logo-line-before,
  .logo-line-after {
    i {
      background: $greendark-dark;
    }
  }
}

.menu .menu-item {
  a {
    color: $greendark-dark;
    background: none;
    &:hover {
      color: $green-dim ;
      background: none;
    }
  }
}

.sidebar,
.back-to-top,
.sidebar-toggle {
  background: $greendark-darker ;
}

.page-post-detail .sidebar-toggle-line,
.sidebar-toggle-line {
  background: white;
}

.site-author-image {
  border-radius: 100%;
}

.site-state-item a {
  &:hover {
    color: $toc-link-hover-color  ;
  } 
}

.category-all-page {
  .category-list-count, 
  .category-all-title { color: $greendark-ligh;}
}

.posts-collapse {
  &::after {
    background-image: linear-gradient(180deg, #d2e6d2,   $greendark-lighter );
  }

  .collection-title {
    small { color: $greendark-ligh; }

    &::before {
      content: "\f06c";
      font-family: FontAwesome;
      background: none;
      margin-left: 4px;
      margin-top: -22px;
      font-size: 24px;
      color: $green-light;
      transform: rotateY(180deg);
    }
  }

  .post-header {
    color: $text-color;
    .post-title-link{
      color: $text-color;
    }

    border-bottom-color:$green-light;
    &::before {
      background: $greendark-ligh;
    }    
          
    &:hover{    
      border-bottom-color: $greendark-dim;    

      &::before {
        background: $greendark-dim;    
      } 
    }    
  }  
}

.page-archive{
  .archive-page-counter {
    color: $greendark-ligh;
  }

  .posts-collapse .archive-move-on {
    background-color: $greendark-ligh;
  }
} 

.tag-cloud .tag-cloud-title { 
  color: $greendark-ligh;
}