// no-found-menu
// use in 404 not found page
// --------------------------------------------------

.no-found-page {
  font-family:" Noto Sans TC","Noto Sans TC", "Noto Sans TC","PingFang SC","Microsoft YaHei","sans-serif"; 
  background-color: #fff;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -250px;
  display: table;

  
  .text-center {
    display: table-cell;
    vertical-align: middle;
  }

  h1, h2 {
    margin:0;
    padding:0;
    text-align: center;
  }  

  .title {
    font-size:150px; 
    line-height:150px; 
    font-weight:bold;
  }

  .subtitle {
    font-size: 30px;
  }
 
  .hint{
    color:$text-color;
  }

  .no-found-menu {
      padding-left: 0;  
  }
    
  .no-found-menu .menu-item {
      display: inline-block;
      margin: 0 10px;
      list-style: none;

      @media screen and (max-width: 767px) {
          margin-top: 10px;
      }

      a {
          display: block;
          font-size: 13px;
          line-height: inherit;
          border-bottom: 1px solid $menu-link-border;
          transition-property: border-color;
          @include the-transition();

          &:hover { color:$grey-light; }
      }

      .fa { margin-right: 5px; }
  }

}
  
// post-tages
// --------------------------------------------------
.posts-expand{
  .post-footer{
    margin-top: 100px;
  }

  .post-tags {  
    a {
      display: inline-block;
      margin-right: 10px;
      margin-top: 30px;
      font-size: 13px;
      border-radius:12px;
      cursor:pointer;
      padding:0px 16px;
    }
  }
}

// note
// ref: https://github.com/kanboo/kanboo.github.io/blob/4292e79031c3f8005add53df25e519f9fd4355cf/themes/next/source/css/_common/components/tags/note.styl
// --------------------------------------------------
.post-body .alert {
  position:             relative;
  padding:              15px;
  margin-bottom:        20px;

  // commit setting
  border:             initial;
  border-left:        4px solid; 
  border-radius: 4px;
  
  // default seeting
  background-color:   $alert-default-bg;
  border-left-color:  $alert-default-border;
  color:  $alert-default-text;

  a {
    color: $alert-default-text;
    border-bottom-color: $alert-default-text;
    &:hover {
      color: $alert-default-hover; 
      border-bottom-color: $alert-default-hover;
    } 
  }

  h2, h3, h4, h5, h6 {
      if note_icons {
        margin-top:       3px;
      } else {
        margin-top:       0;
      }
      margin-bottom:      0;
      border-bottom:      initial;
      padding-top:        0 !important;
    }
  
  p, ul, ol, table, pre, blockquote {
      &:first-child {
          margin-top:       0;
      }
      &:last-child {
          margin-bottom:    0;
      }
  }

  .head {
    font-weight:bold;
  }

  &:not(.no-icon) {
      padding-left:     45px;
      &:before {
        // common setting
        position:       absolute;
        font-family:    'FontAwesome';
        font-size:      larger;
        top:            13px;
        left:           15px;

        // default setting
        content: $alert-default-icon;
        color : $alert-default-text;
      }
    }

  &.primary  {
      background-color: $alert-primary-bg;
      border-left-color:  $alert-primary-border;
      color:  $alert-primary-text;

      a {
        color: $alert-primary-text;   
        border-bottom-color: $alert-primary-text; 
        &:hover {
          color: $alert-primary-hover   ; 
          border-bottom-color: $alert-primary-hover ;
        } 
      }

      &:not(.no-icon) {
          &:before {
              content: $alert-primary-icon;
              color : $alert-primary-text;
          }
      }
  }

  &.info  {
    background-color: $alert-info-bg;
    border-left-color:  $alert-info-border;
    color: $alert-info-text;

    a {
      color: $alert-info-text;    
      border-bottom-color: $alert-info-text; 
      &:hover {
        color: $alert-info-hover   ; 
        border-bottom-color: $alert-info-hover ;
      } 
    }

    &:not(.no-icon) {
        &:before {
            content: $alert-info-icon;
            color : $alert-info-text;
        }
    }
  }

  &.success {
    background-color: $alert-success-bg;
    border-left-color:  $alert-success-border;
    color: $alert-success-text;

    a {
      color: $alert-success-text; 
      border-bottom-color: $alert-success-text;    
      &:hover {
        color: $alert-success-hover   ; 
        border-bottom-color: $alert-success-hover ;
      } 
    }

    &:not(.no-icon) {
        &:before {
            content: $alert-success-icon;
            color : $alert-success-text;
        }
    }
  }

  &.warning {
    background-color: $alert-warning-bg;
    border-left-color:  $alert-warning-border;
    color: $alert-warning-text;

    a {
      color: $alert-warning-text;  
      border-bottom-color: $alert-warning-text;    
      &:hover {
        color: $alert-warning-hover   ; 
        border-bottom-color: $alert-warning-hover ;
      } 
    }

    &:not(.no-icon) {
        &:before {
            content: $alert-warning-icon;
            color : $alert-warning-text;
        }
    }
  }

  &.danger {
    background-color: $alert-danger-bg;
    border-left-color:  $alert-danger-border;
    color: $alert-danger-text;

    a {
      color: $alert-danger-text;   
      border-bottom-color: $alert-danger-text;     
      &:hover {
        color: $alert-danger-hover   ; 
        border-bottom-color: $alert-danger-hover ;
      } 
    }

    &:not(.no-icon) {
        &:before {
            content: $alert-danger-icon;
            color : $alert-danger-text;
        }
    }
  }
}

// mark
// --------------------------------------------------
.post-body mark {
  background-color: transparent;
  padding: 2px 1px;
  border-radius: 5px; 
  color: $text-color ;  
  background: linear-gradient(transparent 40%,rgba(255,255,255,0) 50%, $mark-default  75%, $mark-default 90%, transparent 95%);
  
  &.warning {
    background: linear-gradient(transparent 40%, rgba(255,255,255,0) 50%,  $mark-warning  75%, $mark-warning 90%, transparent 95%);
  }

  &.danger {
    background: linear-gradient(transparent 40%, rgba(255,255,255,0) 50%,  $mark-danger  75%, $mark-danger 90%, transparent 95%);
  }    


  &.thick {
    padding: 0px;
    border-radius: 0px; 
    background: none;
    background-color: $mark-default;

    &.warning {
      background-color: $mark-warning;
    }

    &.danger {
      background-color: $mark-danger;
    }
  }

  &.under {    
    padding: 0px;  
    border-radius: 0px; 
    background: none;
    background-color: none;
    border-bottom: 3px solid $mark-default; 

    &.warning {
      border-bottom: 3px solid $mark-warning;
    }

    &.danger {
      border-bottom: 3px solid $mark-danger;
    }
  }

  &.bold{
    font-weight: bold;
  }
}

// --------------------------------------------------
.post-body .imgtext{
  color: $image-text;   
}
 
.post-body details.update_stamp{
  summary {  
    display:list-item;
    list-style-position: inside;
    padding-right: 5px;
  }
  ul { 
    padding-top:0;
  }
  ul li{   
    list-style-type: none; 
    color: $grey-dim; 
  }
  li:before { 
    content: '\23F1'; 
    margin-left: -20px; 
    margin-right: 10px; 
  } 
}

.post-body .illustration {
  a {
    color: $image-text;   
  }
  img {
    display:block; 
    margin:auto auto 5px auto;
  }  

  color: $image-text;   
  text-align:center;      
  margin:30px 0px;
  line-height:30px;
}

.post-body h2{
  margin-top: 84px;
}
   
.post-body h3{
  margin-top: 60px;
}
   
.post-body h4, h5{
  margin-top: 48px;
}

