// alert
// --------------------------------------------------
// Default
$alert-default-border        : $grey-dim;
$alert-default-bg            : $gainsboro;
$alert-default-text          : $alert-default-border;
$alert-default-icon          : "\f0a9";

// Primary
$alert-primary-border        : #6f42c1;
$alert-primary-bg            : #f5f0fa;
$alert-primary-text          : $alert-primary-border;
$alert-primary-icon          : "\f055";

// Info
$alert-info-border           : $blue;
$alert-info-bg               : #eef7fa;
$alert-info-text             : $alert-info-border;
$alert-info-icon             : "\f05a";

// Success
$alert-success-border        : #5cb85c;
$alert-success-bg            : #eff8f0;
$alert-success-text          : $alert-success-border;
$alert-success-icon          : "\f058";

// Warning
$alert-warning-border        : #f0ad4e;
$alert-warning-bg            : #fdf8ea;
$alert-warning-text          : $alert-warning-border;
$alert-warning-icon          : "\f06a";

// Danger
$alert-danger-border         : #d9534f;
$alert-danger-bg             : #fcf1f2;
$alert-danger-text           : $alert-danger-border;
$alert-danger-icon           : "\f056";

// highlighting  colors
// --------------------------------------------------
$highlighting-default              : rgb(227, 242, 201);
$highlighting-success              : $alert-success-bg;
$highlighting-warning              : $alert-warning-bg ;
$highlighting-danger               : $alert-danger-bg ;

// image text
// --------------------------------------------------
$image-text                 : Gainsboro;



// Custom styles.
// Settings for some of the most global styles.
// --------------------------------------------------

// Global text color on <body>
$greendark-dark    : #2a382e;
$greendark-dim     : #303832;
$green-dark        : #76B900;
$green-dim         : #76b900;
$green-light       : #b9da7e;

$h2-color                     : $green-dark;
$h3-color                     : $greendark-dark ;
$text-color                   : $greendark-dim;

// Global link color.
$link-color                   : $text-color;
$link-hover-color             : $green-dim ;
$link-decoration-color        : $grey-light;
$link-decoration-hover-color  : $link-hover-color;

// Selection
$selection-bg                 : $green-light;
$selection-color              : $text-color;
