// Custom styles.
// Settings for some of the most global styles.
// --------------------------------------------------

// Global text color on <body>
$greendark-darker             : #202220;
$greendark-dark               : #405a46;
$greendark-dim                : #414b43;
$greendark-ligh               : #a7b5a7;
$greendark-lighter            : #f5faf5;
$green-dim                    : #6ca903;
$green-light                  : #b9da7e;
$green-lighter                : #c3dc99;

$h1-color                     : $green-dim;
$h2-color                     : $green-dim;
$text-color                   : $greendark-dim;

// Global link color.
$link-color                   : $text-color;
$link-hover-color             : $green-dim ;
$link-decoration-color        : $grey-light;
$link-decoration-hover-color  : $link-hover-color;

// Selection
$selection-bg                 : $green-light;
$selection-color              : $text-color;

// image text
$image-text                 : $greendark-ligh;

// Sidebar
// Variables for sidebar section elements.
// --------------------------------------------------
$sidebar-highlight                    : $green-dim;
$sidebar-nav-hover-color              : $green-lighter;

$toc-link-hover-color                 : $green-lighter;
$toc-link-hover-border-color          : $green-lighter;
$toc-link-active-color                : $sidebar-highlight;
$toc-link-active-border-color         : $sidebar-highlight;
$toc-link-active-current-color        : $sidebar-highlight;
$toc-link-active-current-border-color : $sidebar-highlight;

// Posts Expand
// --------------------------------------------------
$post-copyright : (
    border-left-color: $green-light,
    bg: $greendark-lighter ,    
    color: $greendark-ligh ,
);